<!DOCTYPE html>
<html>

<head>
  <title>Flash Cards</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!-- <script src="../node_modules/animejs/lib/amine.min.js"></script> --}}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/map.css">
  <link rel="stylesheet" href="/css/anime.css">
</head>
