<h1>{{title}}</h1>
<br />
<br />

{{#if deckList}}
  <h3>Список колод:</h3>
  {{#each deckList}}
    <div><a href="/user/list">{{title}}</a></div>
  {{/each}}
{{/if}}

{{!-- {{htmlTemplate 'deckList'}} --}}
