
{{!-- {{dict.intro}} --}}


<div id="anime-demo">
  <div class="text1">
    <p>&ensp;{{dict.index.intro}}</p>
  </div>
  <div class="img1"></div>
  {{!-- <img class="img1" src="../img/wifi-hand.jpg" alt="logo2"> --}}
  <div class="text2">
    <p> <b> &ensp;&ensp;{{dict.index.title1}}</b> <br>
      &ensp;{{dict.index.forTitle1}}
    </p>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
