{{!-- <h1>{{title}}</h1>
<br />
<br /> --}}

{{!-- {{dict.intro}} --}}


<div id="anime-demo">
  <div class="text1">
    <p>&ensp;Оцените все преимущества быстрого и безлимитного интернет-соединения на протяжении всего времени вашей поездки с арендой портативного WiFi роутера.
       Вы можете забрать роутер в одной из точек аренды или же заказать услугу доставки до вашего отеля. </p>
  </div>
  <div class="img1"></div>
  {{!-- <img class="img1" src="../img/wifi-hand.jpg" alt="logo2"> --}}
  <div class="text2">
    <p> <b>   &ensp;&ensp;Что такое карманный WiFi?</b> <br>
&ensp;Его функции практически идентичны беспроводному WiFi роутеру у вас дома с той разницей, что City WiFi компактен и легко переносим, 
а также не требует никакой предварительной установки. 
 </p>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="/js/animeIndex.js"></script>
