/* #anime-demo {
  text-align: left;
} */
.text1 {
  font-size: 1.4em;
  pointer-events: none;
  position: relative;
  /* width: 950px;
  height: 130px; */
  margin: 4px;
  display: inline-block;
}
.img1 {
  width: 650px;
  height: 450px;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  background-image: url('../img/wifi-hand.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* Подключаем свойство transform-style для 3D */
  transform-style: preserve-3d;
  /* Подключаем анимацию для вращения и обзора */
  animation: main-rotate 10s infinite linear;
}
.text2 {
  /* left: 20%; */
  font-size: 1.4em;
  pointer-events: none;
  position: relative;
  /* width: 950px;
  height: 130px; */
  margin: 4px;
  display: inline-block;
}

@keyframes main-rotate {
  100% {
    transform: rotateY(360deg);
  }
}
